.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.fighterContainer {
    width: 45%;
    height: 300px;
    color: black;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.fighterName {
    margin-bottom: 10px;
    align-self: auto;
    /* Ajusta según sea necesario */
}

.fighterImg {
    width: auto;
    height: auto;
    max-height: 65%;
}

.divStats {
    display: flex;
    flex-wrap: wrap;
}

.spanStats {
    width: 30%;
}