* {
    font-family: 'Allerta Stencil', system-ui;
    text-align: center;
}

.homeDiv {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/img/island.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
}

.homeDivGoogle {
    background-image: url('../../assets/img/island.gif');
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modalButton {
    background: #ff4500;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.googleLogin {
    margin: auto;
}