* {
    font-family: 'Silkscreen', sans-serif;
}

.homeDiv {
    height: 100vh;
    width: 100vw;

}


.modalButton {
    background: #ff4500;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}