/* styles.module.css */

/* Estilos generales */
.container {
    height: 100%;
    width: 100%;
}

/* Estilos para el menú principal */
.mainMenu {
    background-color: #282c34;
    color: white;
}

.h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.menuButton {
    color: #e5e7ec;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.fightButton {
    background-color: #ac3315;
    border: 2px solid #812008;
}

.fightButton:hover {
    background-color: #e95530;
}

.fightersButton {
    background-color: #6e5a21;
    border: 2px solid #473910;
}

.fightersButton:hover {
    background-color: #9b8548;
}

.bagButton {
    background-color: #399b0c;
    border: 2px solid #2c6d0e;
}

.bagButton:hover {
    background-color: #6aaf4a;
}

.shopButton {
    background-color: #ada425;
    border: 2px solid #7e7607;
}

.shopButton:hover {
    background-color: #afa94e;
}


/* Estilos para otras páginas */
/* Agrega estilos específicos para FightersPage, ObjectsPage y ShopPage según sea necesario */