.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

.active {
    border: 5px solid #45a049 !important;
}

.fighterContainer {
    background-color: #f0f0f0;
    /* border-radius: 8px; */
    padding: 10px;
    text-align: center;
}

.imageContainer {
    height: 150px;
}

.fighterImg {
    max-width: 80%;
    max-height: 80%;
    border-radius: 4px;
}

.divStats {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fighterName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.spanStats {
    font-size: 12px;
}