.battleground {
    background-image: url('../../assets/img/coliseum.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;
    margin: auto;
    display: flex;
    overflow: hidden;
    position: relative;
}

/* Estilos para orientación vertical (portrait) */
@media (orientation: portrait) {
    .battleground {
        transform: rotate(90deg);
        width: 100vh;
    }
}

/* Estilos para orientación horizontal (landscape) */
@media (orientation: landscape) {
    .battleground {
        transform: none;
    }
}

.divBattleEnded {
    background-color: rgb(221, 210, 210);
    display: flex;
    font-size: large;
    height: 10%;
    font-weight: bold;
    opacity: 0.85;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.endBattleButton {
    height: 25px;
}

.battleEnded {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white
}

.battlegroundImg {
    width: 100vw;
    height: auto;
    margin: auto;
}

/* Define la animación */
@keyframes attack-move {
    0% {
        bottom: 35px;
        left: 15%;
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.6;
    }

    100% {
        bottom: 27%;
        left: 85%;
        opacity: 0.1;
    }
}

/* Aplica la animación al elemento de la imagen */
.attack-animation {
    height: 15%;
    position: absolute;
    animation-name: attack-move;
    animation-duration: 2s;
    /* Duración de la animación */
    animation-timing-function: ease-out;
    /* Función de temporización de la animación */
    animation-iteration-count: 1;
    /* Número de veces que se repetirá la animación */
    animation-fill-mode: forwards;
    /* El elemento conservará los estilos del último frame después de la animación */
}

/* Define la animación inversa */
@keyframes enemy-attack-move {
    0% {
        bottom: 125px;
        right: 75px;
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.6;
    }

    100% {
        bottom: 35px;
        right: 85%;
        opacity: 0.1;
    }
}

/* Aplica la animación al elemento de la imagen del ataque enemigo */
.enemy-attack-animation {
    height: 15%;
    position: absolute;
    animation-name: enemy-attack-move;
    animation-duration: 2s;
    /* Duración de la animación */
    animation-timing-function: ease-out;
    /* Función de temporización de la animación */
    animation-iteration-count: 1;
    /* Número de veces que se repetirá la animación */
    animation-fill-mode: forwards;
    /* El elemento conservará los estilos del último frame después de la animación */
}

.enemyAttack {
    height: 10%;
    position: absolute;
    top: 30%;
    right: 30%;
}

.userAttack {
    height: 15%;
    position: absolute;
    bottom: 25%;
    left: 25%;
}

.userPowerUp {
    position: absolute;
    width: auto;
    margin-top: -91px;
    /* La imagen ocupará el 100% del ancho del contenedor */
    height: 275px;
    /* Mantiene la proporción de aspecto original */
    display: block;
    /* Elimina espacio adicional por defecto en la parte inferior de la imagen */
    z-index: 9999;
}

.enemyPowerUp {
    position: absolute;
    width: auto;
    margin-top: -91px;
    /* La imagen ocupará el 100% del ancho del contenedor */
    height: 275px;
    /* Mantiene la proporción de aspecto original */
    display: block;
    /* Elimina espacio adicional por defecto en la parte inferior de la imagen */
    z-index: 9999;
}


@media (max-width: 425px) {
    .battleground {
        width: 100vw;
    }
}