.fighterImage {
    width: auto;
    /* La imagen ocupará el 100% del ancho del contenedor */
    height: 60%;
    /* Mantiene la proporción de aspecto original */
    display: block;
    /* Elimina espacio adicional por defecto en la parte inferior de la imagen */
    max-width: 80%;
    /* transform: scaleX(-1) */
    /*Da vuelta la imagen del luchador, pero hay que buscar imagenes que miren para el mismo lado*/
}

.fighterWrapper {
    width: 25%;
    /* Establece el ancho máximo deseado */
    margin: 0 auto;
    height: 35vh;
    position: absolute;
}

.userFighterWrapper {
    bottom: 2rem;
    left: 2rem;
}

.enemyFighterWrapper {
    top: 2rem;
    right: 1rem;
}

@media(max-height: 765px) {
    .fighterWrapper {
        width: 100px;
    }
}