.fighterImage {
    width: auto;
    /* La imagen ocupará el 100% del ancho del contenedor */
    height: 115px;
    /* Mantiene la proporción de aspecto original */
    display: block;
    /* Elimina espacio adicional por defecto en la parte inferior de la imagen */
    max-width: 100%;
    z-index: 2;
    /* transform: scaleX(-1) */
    /*Da vuelta la imagen del luchador, pero hay que buscar imagenes que miren para el mismo lado*/
}

.userFighter {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.enemyFighter {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.fighterShadow {
    background-color: black;
    clip-path: ellipse(50% 26% at 50% 50%);
    margin-top: -20px;
    height: 35px;
    width: 70px;
    opacity: 0.5;
}

.fighterWrapper {
    width: 25%;
    /* Establece el ancho máximo deseado */
    margin: 0 auto;
    height: 35vh;
    position: absolute;
}

.userFighterWrapper {
    bottom: 105px;
    left: 55px;
}

.enemyFighterWrapper {
    bottom: 125px;
    right: 55px;
}

@media(max-height: 765px) {
    .fighterWrapper {
        width: 100px;
    }
}