.fightMenu {
    top: 0px;
    width: 40%;
    height: 30%;
    left: 0px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
}

.fightMenuImg {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-image: url('../../assets/img/menu-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.options {
    width: 50%;
    font-size: large;
    position: relative;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsContainer {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;

    align-content: space-around;
}

@media (max-width: 765px) {
    .fightMenu {
        width: 50%;
        height: 20%;
    }

    .options {
        font-size: 12px;
    }
}

.battlegroundAirport {
    background-image: url('../../assets/img/metal.jpg');
    font-family: 'Black Ops One' !important;
    color: rgb(43, 41, 41) !important;
}

.battlegroundRoute {
    background-image: url('../../assets/img/metal.jpg');
    font-family: 'Black Ops One' !important;
    color: rgb(43, 41, 41) !important;
}

.battlegroundColiseum {
    font-family: 'Merienda', sans-serif !important;
}

.battlegroundCiberspace {
    background-image: url('../../assets/img/modal-background3.gif');
    font-family: 'Orbitron', sans-serif !important;
    color: white;
}