.active {
    z-index: 3;
}

.notActive {
    z-index: 1;
}

.fighterImage {
    width: auto;
    /* La imagen ocupará el 100% del ancho del contenedor */
    height: 115px;
    /* Mantiene la proporción de aspecto original */
    display: block;
    /* Elimina espacio adicional por defecto en la parte inferior de la imagen */
    max-width: 100%;
    z-index: 2;
    /* transform: scaleX(-1) */
    /*Da vuelta la imagen del luchador, pero hay que buscar imagenes que miren para el mismo lado*/
}

.userFighter {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

.enemyFighter {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
}

@keyframes userAttackMove {
    0% {
        left: 10%;
    }

    50% {
        left: 15%;
    }

    100% {
        left: 10%
    }
}

/* Aplica la animación al elemento de la imagen del ataque enemigo */
.userAttack {
    animation-name: userAttackMove;
    animation-duration: .3s;
    /* Duración de la animación */
    animation-timing-function: ease-out;
    /* Función de temporización de la animación */
    animation-iteration-count: 1;
    /* Número de veces que se repetirá la animación */
    animation-fill-mode: forwards;
    /* El elemento conservará los estilos del último frame después de la animación */
}

@keyframes enemyAttackMove {
    0% {
        right: 10%;
    }

    50% {
        right: 15%;
    }

    100% {
        right: 10%
    }
}

/* Aplica la animación al elemento de la imagen del ataque enemigo */
.enemyAttack {
    animation-name: enemyAttackMove;
    animation-duration: .3s;
    /* Duración de la animación */
    animation-timing-function: ease-out;
    /* Función de temporización de la animación */
    animation-iteration-count: 1;
    /* Número de veces que se repetirá la animación */
    animation-fill-mode: forwards;
    /* El elemento conservará los estilos del último frame después de la animación */
}

.fighterShadow {
    background-color: black;
    clip-path: ellipse(50% 26% at 50% 50%);
    margin-top: -22px;
    height: 35px;
    width: 70px;
    opacity: 0.5;
}

.fighterWrapper {
    width: 25%;
    /* Establece el ancho máximo deseado */
    margin: 0 auto;
    height: auto;
}

.userFighterWrapper {
    bottom: 35px;
    left: 10%;
}

.enemyFighterWrapper {
    bottom: 35px;
    right: 10%;
}

@media(max-height: 765px) {
    .fighterWrapper {
        width: 100px;
    }
}


.battlegroundAirporth3 {
    font-family: 'Black Ops One' !important;
    color: rgb(0, 0, 0) !important;
    font-size: small;
}

.battlegroundRouteh3 {
    font-family: 'Black Ops One' !important;
    color: rgb(0, 0, 0) !important;
    font-size: small;
}

.battlegroundColiseumh3 {
    font-family: 'Merienda', sans-serif !important;
    font-size: small;
}

.battlegroundCiberspaceh3 {
    font-family: 'Orbitron', sans-serif !important;
    color: white;
    font-size: small;
}

.battlegroundAirport {
    background-image: url('../../assets/img/metal.jpg');
    font-family: 'Black Ops One' !important;
    color: rgb(0, 0, 0) !important;
    font-size: x-large;
}

.battlegroundRoute {
    background-image: url('../../assets/img/metal.jpg');
    font-family: 'Black Ops One' !important;
    color: rgb(0, 0, 0) !important;
    font-size: x-large;
}

.battlegroundColiseum {
    background-image: url('../../assets/img/menu-background.jpg');
    font-family: 'Merienda', sans-serif !important;
    font-size: x-large;
}

.battlegroundCiberspace {
    background-image: url('../../assets/img/modal-background3.gif');
    font-family: 'Orbitron', sans-serif !important;
    color: white;
    font-size: x-large;
}

.fullContainer {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    flex-direction: column;
    align-content: center;
    align-items: center;
}