.button {
    color: #1e8011;
    border: none;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    /* Ajusta los valores según tus preferencias */
    margin: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    /* border-radius: 5px; */
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    /* Ajusta el relleno según sea necesario */
    background-image: url('../../assets/img/menu-background.jpg');
    /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size: 100% 100%;
    /* Ajusta según tus preferencias, por ejemplo, 'contain' */
    background-position: center;
    /* Ajusta según tus preferencias, por ejemplo, 'left', 'right', 'top', 'bottom', etc. */
    background-repeat: no-repeat;
    /* No repetir la imagen de fondo */
}

.completeWidth {
    width: 100%;
    height: 100%;
}

.button:hover {
    background-image: url('../../assets/img/menu-background-hover.jpg');
}


.red {
    background-color: #ac3315;
}

.red:hover {
    background-color: #e95530;
}

.brown {
    background-color: #6e5a21;
}

.brown:hover {
    background-color: #9b8548;
}

.green {
    background-color: #399b0c;
}

.green:hover {
    background-color: #6aaf4a;
}

.lightgreen {
    background-color: #4CAF50;
}

.lightgreen:hover {
    background-color: #45a049;
}

.yellow {
    background-color: #ada425;
}

.yellow:hover {
    background-color: #afa94e;
}

.blue {
    background-color: #2549ad;
}

.blue:hover {
    background-color: #526497;
}

.battlegroundAirport {}

.battlegroundRoute {
    background-image: url('../../assets/img/metal.jpg');
    font-family: 'Black Ops One' !important;
    color: rgb(43, 41, 41) !important;
    font-size: x-large;
}

.battlegroundRoute:hover {
    background-image: url('../../assets/img/metal-hover.jpg');
}

.battlegroundColiseum {}

.battlegroundCiberspace {
    background-image: url('../../assets/img/modal-background3.gif');
    font-family: 'Orbitron', sans-serif !important;
    color: white;
    font-size: x-large;
}

.battlegroundCiberspace:hover {
    background-image: url('../../assets/img/modal-background3.gif');
    font-family: 'Orbitron', sans-serif !important;
    color: white;
}